# 빅분기 실기요약

## 1. 필답형 10문제 - 총 30점

### <span style="color:red">이상치 (Outlier)</span>
관측된 데이터 범주에서 일반적인 데이터 값의 범위를 벗어난 값을 말한다.  
데이터 이상값은 분석 결과에 나쁜 영향을 끼칠 수 있으므로,  
상한보다 높으면 상한값으로 대체하고, 하한보다 낮으면 하한값으로 대체하는 방법으로 처리 할 수 있다.

※ **결측값(Missing Value)** : 필수 데이터가 입력되지 않고 누락 된 값.
데이터 결측값의 유형

|종류|특징과 예시|
|:--|:--|
|완전무작위결측(MCAR)|다른 변수와 무관하게 발생한 결측 값|
|무작위결측(MAR)|결측값이 다른 변수와 연관성이 있으나 결측값이 결과분포에 영향을 미치지 않는 경우.|
|비무작위결측(NMAR))|결측값이 다른 변수와 연관이 있으면서 결측값이 결과분포에 영향을 미치는 경우. |

### <span style="color:red">평균대치법 (mean imputation)</span>
결측 값을 대체하는 방법중 다중 대치법의 하나로. 평균 중위수, 최빈값등의 대표값으로 결측치를 대체하는 방법이다.


#### [결측치처리방법]

1. 단순대치법 (simple imputation)  
특정 대표값(임의의 지정 값 또는 평균및 최빈값등)으로 결측치를 대체하는 기법.  </br>


2. 다중대치법 (multiple imputation)  
여러번의 단순 대치법을 통해 결측값이 대체된 여러개의 데이터를 생성한 뒤, 해당 다수의 데이터를 통계분석하는 방법이다.
  - 완전분석법 : 불완전 자료는 모두 무시하고 완전히 관측된 자료만 사용하는 방법
  - 평균대치법 : 결측치를 평균, 중위수, 최빈값등 대푯값으로 대체하여 사용하는 방법
  - 단순확률대치법 : 평균대치법 + 적절한 확률값 부여 대치. (표준오차 과소추정 문제를 보완함)
    - 핫뎃(Hot-Deck) 대체 : 응답자의 무응답 값을 비슷한 성향을 가진 다른 응답자의 값으로 대체
    - 콜드덱(Cold-Deck) 대체 : 핫데과 방식은 동일하되 외부 출처나 다른 설문조사의 응답값으로 대체
    - 혼합방법 : 여러가지 대체방법을 혼합하는 방식

### <span style="color:red">비지도학습 (Unsupervised learning)</span>
**종속 변수가 포함되지 않은 데이터를 학습** 한다. 예측 문제보다는 <u>현상 설명, 특징 도출, 패턴도출등의 문제를 해결하는데 사용</u>된다.

**※ 지도 학습(Supervised learning)**
정답에 해당 하는 종속 변수가 포함되어 있는 데이터를 학습하여(종속변수와 독립변수간의 관계를 분석하여) 주어진 데이터를 이용해 예측 또는 문제해결을 하는 모델.

|지도학습|비지도학습|
|:--|:--|
|- 회귀분석|- 군집화|
|- 로지스틱회귀분석|- 차원축소|
|- 나이브베이즈|- 연관분석|
|- KNN|- 자율학습 인공신경망|
|- 의사결정나무||
|- 랜덤포레스트||
|- 인공신경망||

### <span style="color:red">부스팅 (Boosting)</span>
예측력이 약한 모형을 순차적으로 결합하여 예측력을 강하게 만드는 앙상블 방법이다.



**[대표적인 부스팅 알고리즘]**
- AdaBoost (Adaptive Boosting)
  먼저 학습한 모형의 오분류된 표본에 높은 가중치를 부여하여 다음 분류에서 보다 더 잘 분류할수 있도록 학습하는 방법.
- GBM(Gradient Boosting Machine)
  AdaBoost 와 유사하나 가중치를 조정할때 경사하강법을 이용하여 최적화를 하는 방법이다.
  
  - **XGBoost**  
  GBM의 단점인 과적합과 높은 학습시간을 보완하기 위해 나온 알고리즘이다.  
  시스템 과점에서는 병렬화와 가지치기를 적용하여 학습시간을 단축시키고,  
  정규화, 결측치 처리, 교차검증 등을 통해 알고리즘을 고도화 시킨다.



<span style="color:blue">**[앙상블의 종류]**</span>
- Voting : 다양한 알고리즘을 사용한 후 결과를 투표에 붙임
  - 하드보팅 : 분류결과가 가장 좋은 모델을 투표.
  - 소프트보팅 : 각 레이블별 확률값을 모두 더한 후 평균을 낸 결과값으로 결정.
- Bagging : 부트스트랩핑된 데이터를 알고리즘에 적용 (e.g 랜덤포레스트)
- Boosting : 약한 학습기를 반복적으로 훈련하여 강한 학습기로 성장시킴. (e.g GBM)

###  <span style="color:red">Gradient Boosting Algorithm</span>
Gradient Boosting ALgorithm (GBM) 은 회귀분석 또는 분류분석을 수행 할 수 있는 예측 모형 알고리즘이다. 앙상블 방법중 부스팅 계열에 해당하며, Tabular format 데이터에 굉장히 높은 성능을 나타낸다. 다만 훈련데이터에 과적합과 많은 학습시간이라는 단점을 보완하기 위하여 아래의 부스팅 알고리즘들이 구현되었다.

**[GBA를 구현한 패키지들]**
- LightGBM
- CatBoost
- XGBoost

### <span style="color:red">하이퍼파라미터</span>
하이퍼파라미터는 모형 외부 요소로 모형의 성능에 간접적인 영향을 미친다. 사용자가 설정하는 값으로 학습 과정에 영향을 주고 학습 결과인 파라미터 값에 영향을 준다.


**하이퍼 파라미터 튜닝 방법**
- 메뉴얼 서치 : 사용자의 직감 또는 경험에 근거하여 하이퍼 파라미터를 조정하는 방법.
- 그리드 서치 : 가능한 모든 조합을 시도하여 최적의 파라미터를 찾는 방법.
- 랜덤 서치 : 지정 범위내 무작위 표본을 추출하여 이를 조합한 최적의 파라미터를 검색하는 방법.

### <span style="color:red">오버피팅 (Over-fitting)</span>

과대적합은 **분석 모형이 학습 데이터에 지나치게 적합하여 일반화 되지 않는 상태**를 말한다.

**[과대적합방지를 위하여]**  
- 학습 데이터 수를 증가 시킨다.(오버샘플링 or 언더샘플링)
- 가중치 규제 : 가중치 값을 제한하여 변수의 수를 줄이는 효과는 만든다.
- 교차검증(Cross Validation)을 통해 과대적합 가능성을 낮춘다.

**※ 과소적합(Under-fitting)**  
분석 모형이 학습 데이터에서 패턴을 충분히 학습하지 못한 상태를 말한다.

#### 0.03 -> -1

### <span style="color:red">후진제거법</span>
변수 선택법중 **래퍼기법(Wrapper Method) 의 세분류중 하나**로. 모든 독립 변수가 포함된 상태에서 **종속 변수에 영향도가 가장 적은 변수부터 하나씩 제거하면서 모형을 선택**하는 방법이다.

|종류|특징|
|:--|:--|
|전진선택법|모든 독립변수중 종속 변수에 영향도가 가장 높은 변수부터 하나씩 추가하여 모형을 선택|
|후진제거법|모든 독립변수가 포함된 상태에서 종속변수에 영향도가 가장 적은 변수부터 하나씩 제거하여 모형을 선택|
|단계적방법|전진 선택법과 후진 제거법을 함께 사용하는 방법|

**※ 변수선택(Feature Selection)**
- 필터기법(Filter Method) : 상관계수를 탐색하여 상관계수가 높은 변수를 선택하는 방법.(통계적 특성을 이용한 선택법)
- 래퍼기법(Wrapper Method) : 변수의 일부만 모델링에 사용하고 그 결과를 확인하는 작업을 반복하면서 변수를 선택하는 방법.
- 임베디드 기법(Embedded Method) : 모델 자체에 변수 선택이 포함된 기법

#### <span style="color:red">ROC-CURVE</span>

ROC곡선은 임계값(Threshold)를 0에서 1까지 변화시켜 가면서 x축에는 **거짓긍정률(FPR))을 y축에는 참 긍정률(TRP)을 표시하여 그린 곡선**이다.

**※ AUC (Area Under the Curve)**  
ROC곡선 아래의 면적을 일컫는 말이며, AUC값이 1에 가까울수록 분류모델의 성능이 좋다고 평가한다.

## 2. 작업형1 3문제 - 총 30점

In [63]:
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd

df = pd.read_csv('./extrafiles/basic1.csv')
df

       id    age city    f1  f2   f3    f4         f5
0    id01    2.0   서울   NaN   0  NaN  ENFJ  91.297791
1    id02    9.0   서울  70.0   1  NaN  ENFJ  60.339826
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869
..    ...    ...  ...   ...  ..  ...   ...        ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

[100 rows x 8 columns]

### 문제1
데이터셋(basic1.csv)의 'f5' 컬럼을 기준으로 상위 10개의 데이터를 구하고,  
'f5'컬럼 10개 중 최소값으로 데이터를 대체한 후,  
'age'컬럼에서 80 이상인 데이터의'f5 컬럼 평균값 구하기

In [64]:
# 값을 기준으로 정렬
df.sort_values('f5', ascending=False, inplace=True)
df[:10]['f5'] = df[:10]['f5'].min()
df[:10]['f5']
print(df[df['age']>=80]['f5'].mean())
df

62.497747125217394

      id   age city    f1  f2   f3    f4         f5
10  id11  40.0   서울  68.0   0  NaN  ENFP  91.297791
97  id98  39.0   경기  58.0   2  NaN  INFP  91.297791
9   id10  95.0   서울  74.0   1  NaN  ISFP  91.297791
76  id77  77.0   경기  31.0   0  NaN  INFP  91.297791
98  id99   1.0   경기  47.0   0  NaN  ESFJ  91.297791
..   ...   ...  ...   ...  ..  ...   ...        ...
54  id55  75.0   대구  63.0   2  NaN  ENTP  13.049921
35  id36  68.0   부산  77.0   1  NaN  INTP  13.049921
6   id07  36.3   서울  60.0   1  NaN  ISFJ   9.796378
90  id91   6.0   경기  72.0   0  NaN  INTP   9.796378
14  id15  22.0   서울  67.0   1  NaN  ENTP   9.796378

[100 rows x 8 columns]

### 문제2
데이터셋(basic1.csv)의 앞에서 순서대로 70% 데이터만 활용해서,  
'f1'컬럼 결측치를 중앙값으로 채우기 전후의 표준편차를 구하고  
두 표준편차 차이 계산하기

In [66]:
# index 기준으로 재정렬
df.sort_index(inplace=True)

df7 = df[:70]
print(df7['f1'].isna().sum())

df7_bstd = df7['f1'].std()
print(df7_bstd)


df7['f1'].fillna(df7['f1'].median(), inplace=True)
df7_astd = df7['f1'].std()
print(df7_astd)

print(df7_bstd - df7_astd)

23
17.98727579865276
14.690773995256688
3.2965018033960725

### 문제3
데이터셋(basic1.csv)의 'age'컬럼의 이상치를 더하시오.  
단, 평균으로부터 '표준편차*1.5'를 벗어나는 영역을 이상치라고 판단함

In [74]:
df['age'].isna().sum()

# 표준편차
df_std = df['age'].std()
df_mean = df['age'].mean()

df_result = df[(df['age'] < df_mean - df_std*1.5) |
               (df['age'] > df_mean + df_std*1.5) ]

df_result['age'].sum()

473.5

## 3. 작업형2 1문제 - 총 40점

## 전자상거래 배송 데이터

### 제품 배송 시간에 맞춰 배송되었는지 예측모델 만들기
학습용 데이터 (X_train, y_train)을 이용하여 배송 예측 모형을 만든 후, 이를 평가용 데이터(X_test)에 적용하여 얻은 예측값을 다음과 같은 형식의 CSV파일로 생성하시오(제출한 모델의 성능은 ROC-AUC 평가지표에 따라 채점)

![](./extrafiles/exam02.png)

[시험용 데이터셋 만들기] 
코드는 예시문제와 동일한 형태의 X_train, y_train, X_test 데이터를 만들기 위함임

(유의사항)

성능이 우수한 예측모형을 구축하기 위해서는 적절한 데이터 전처리, 피처엔지니어링,   
분류알고리즘, 하이퍼파라미터 튜닝, 모형 앙상블 등이 수반되어야 한다.   
수험번호.csv파일이 만들어지도록 코드를 제출한다.
제출한 모델의 성능은 ROC-AUC형태로 읽어드린다.

In [2]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv('./extrafiles/Train.csv', engine='python')
df.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1